# Compiled output
*.out
*.exe
*.o
*.a

# Build folders
build/
bin/

# CMake / Make
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Debug / logs
*.log
core

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
